extends layout

block content
  h1= title
  .container-fluid
    .row
      .col
        h3 Spaghetti
        p Weight: 500g
        p Price: $5.99
      .col
        h3 Penne
        p Weight: 750g
        p Price: $6.99
      .col
        h3 Fettuccine
        p Weight: 400g
        p Price: $4.49

